# Secret & Environment Files
.env
.env.local
*.env

# SQLite Database
*.db
*.sqlite3

# Python / Virtual Environment
__pycache__/
*.py[cod]
venv/
.venv/

# Node / React Dependencies
node_modules/
build/
dist/
.DS_Store
